<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Whistleblowing System</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="layout-body">
    <header>
        <div class="header-structure">
            <div class="header-icon left-icon">
                <a href="/">
                    <img src="~/images/spia-icon.png" alt="Spia" asp-append-version="true" />
                </a>
            </div>
            <div class="header-title">
                Whistleblowing - Segnalazione condotte illecite
            </div>
            <div class="header-icon right-icon">
                <img src="~/images/utente-icon.png" alt="Utente" asp-append-version="true" />
            </div>
        </div>
    </header>


    <main>
        @RenderBody()
    </main>

    <footer class="footer-custom">
        <div class="footer-container">
            <span class="footer-text nome-azienda">© 2025 Whistleblowing</span>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
